:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --subtle-text: #8e8f99;
  --light: #f4f4fd;
  --white: #ffffff;
  --success: #31d0aa;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #region Basic */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion Basic */

/* #region Logos */
.logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

@media screen and (min-width: 768px) {

  .logo,
  .footer-logo {
    font-size: 18px;
  }
}

.logo-studio-header {
  color: var(--dark);
}

.logo-studio {
  color: var(--light);
}

/* #endregion Logos */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.header .logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 120px;
    padding: 16px 0;
  }
}

@media screen and (min-width: 1158px) {
  .header .logo {
    margin-right: 76px;
    padding: 24px 0;
  }
}

.menu-open-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-icon {
  fill: #2f2f37;
  width: 24px;
  height: 24px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: var(--dark);
  padding: 24px 0;
  display: block;
  transition: color var(--transition-dur-func);
  position: relative;
}

.nav-link.current {
  color: var(--pressed-state);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.nav-list,
.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

.contact-link {
  display: block;
  color: var(--text);
  transition: color var(--transition-dur-func);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state);
}

/* #endregion Header Section */

/* #region Hero */
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/Dark-bg1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    min-height: 436px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    min-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg1x.png");
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
screen and (min-width: 1158px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg2x.png");
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color var(--transition-dur-func);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/* #endregion Hero Section */

/* #region Features */
.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}

.features-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}

.features-icon-wrapper {
  display: none;
}

@media screen and (min-width: 1158px) {
  .features-icon-wrapper {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

@media screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* #endregion Features Section */

/* #region Team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team .container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .team .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-item {
  background-color: var(--white);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-func);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--pressed-state);
}

.team-socials-icon {
  fill: currentColor;
  color: #f4f4fd;
}

/* #endregion Team Section */

/* #region Portfolio */
.portfolio {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-item {
  width: 288px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover {
    box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  color: var(--light);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-dur-func);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* #endregion Portfolio Section */

/* #region Footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    column-gap: 0;
    row-gap: 0;
  }
}

.footer-info {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-info {
    text-align: left;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  text-align: left;
  max-width: 288px;
  margin: 16px auto 0;
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
    margin: 16px 0 0;
  }
}

.footer-media {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-media {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-media {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-func);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--success);
}

.footer-socials-icon {
  fill: var(--light);
}

.footer-subscribe {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    width: auto;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-subscribe-title {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  color: var(--white);
  outline: transparent;
  transition: border-color var(--transition-dur-func);
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input:focus {
  border-color: var(--success);
}

.footer-input::placeholder {
  color: var(--white);
  line-height: 2;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--primary-brand);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition-dur-func);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--success);
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* #endregion Footer Section */


/* #region Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: relative;
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
  transition: transform var(--transition-dur-func);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* .modal-label corrected/removed from here as it should be used for labels */

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color var(--transition-dur-func), border var(--transition-dur-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white);
}

.modal-close-icon {
  transition: fill var(--transition-dur-func);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition-dur-func);
}

.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill var(--transition-dur-func);
}

.modal-input:focus+.modal-input-icon {
  fill: var(--primary-brand);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition-dur-func);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-group {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid #8e8f99;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-custom svg {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus+.modal-checkbox-label .modal-checkbox-custom,
.modal-checkbox-label:hover .modal-checkbox-custom {
  border-color: #404bbf;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox:checked+.modal-checkbox-label .modal-checkbox-custom svg {
  opacity: 1;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color var(--transition-dur-func);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--pressed-state);
}

/* #endregion Modal */

/* #region Mobile Menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px 16px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
  fill: #ffffff;
}

.mobile-nav {
  padding-top: 72px;
  padding-left: 16px;
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  transition: color var(--transition-dur-func);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.current {
  color: var(--pressed-state);
}

.mobile-contacts-info {
  padding-left: 16px;
  margin-top: auto;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
  font-style: normal;
}

.mobile-contact-link.accent {
  color: var(--primary-brand);
}

.mobile-socials {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  padding-bottom: 40px;
}

.mobile-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-func);
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: var(--pressed-state);
}

.mobile-socials-icon {
  fill: var(--light);
}

/* #endregion Mobile Menu */